.login, .register {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.register-container, .login-container {
    display: flex;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    flex-wrap: wrap; 
}

.formulario-container {
    flex: 1;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    background-color: rgb(221, 236, 224);
}

.formulario-container h1 {
    margin-bottom: 4rem;
}

.register-image, .login-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.register-image img, .login-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-left: 1px solid #ddd;
}

label {
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--secondary-color);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

input,
select,
textarea {
    width: 100%;
    color: var(--secondary-color);
    font-weight: 600;
    padding: 1rem;
    font-size: 1.25rem;
    border: 0.0625rem solid var(--secondary);
    border-left-width: 0.5rem;
    border-radius: 0.75rem;
    transition: all 0.3s;
    margin-bottom: 1rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #4caf50; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 0.75rem;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .register-container, .login-container {
        flex-direction: column;
    }

    .register-image, .login-image {
        border-left: none;
        border-top: 1px solid #ddd;
    }
}
