h1{
  display: flex;
  justify-content: center;
  font-size: calc(1.375rem + .6vw);
  margin: 4rem 0 0 0;
}

.cards-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
  margin-bottom: 2rem;
}

.card {
  background-color: var(--background-card);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  flex: 1 1 calc(33.333% - 2rem);
  max-width: calc(33.333% - 2rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover{
  background-color: var(--background-card-hover);
}

.card-header {
  color: var(--secondary)
}

@media (max-width: 768px) {
  .card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
