.cards-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
  margin-bottom: 2rem;
}

.card {
  background-color: var(--background-card);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  flex: 1 1 calc(33.333% - 2rem);
  max-width: calc(33.333% - 2rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card h2{
  font-size: 3rem;
  font-weight: 400;
  color:rgb(32, 77, 41);
}

.card h3{
  font-size: 2rem;
  font-weight: 400;
  color:rgb(53, 85, 58);
}

.card p{
  padding: .6rem 0;
  font-size: 1.1rem;
}

.card:hover{
  background-color: var(--background-card-hover);
}

.card-header {
  color: var(--secondary)
}

@media (max-width: 992px) {
  .card {
    flex: 1 1 100%;
    max-width: 100%;
  }

}
