.sidebar-fixed {
    width: 250px; 
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #607e65;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto; 
    z-index: 1000;
    transition: width 0.3s ease;
}

.sidebar-fixed.collapsed {
    width: 80px; 
}

.sidebar-header {
    display: flex;
    justify-content: flex-end;
}

.menu-button {
    color: white;
    margin-bottom: 10px; 
}

.sidebar-content {
    flex: 1;
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-item {
    margin: 15px 0;
    display: flex; 
    align-items: center; 
    padding: 10px;
    white-space: nowrap;
}

.sidebar-item a {
    padding: 0 1.4rem;
    color: white;
    text-decoration: none;
    display: flex; 
    align-items: center; 
    font-size: 1.2rem;
}

.sidebar-item a:hover {
    text-decoration: underline;
}

.logout-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logout-button {
    background-color: transparent !important;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 2px 4px;
}

.logout-button:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .sidebar-fixed {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        background-color: #6a9671;
        z-index: 1000; 
    }

    .sidebar-header {
        display: none; 
    }

    .sidebar-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .sidebar-item {
        margin: 0;
        padding: 10px;
        flex: 1; 
        text-align: center; 
    }

    .sidebar-item a {
        display: flex;
        align-items: center;
        font-size: 1.2rem; 
    }

    .logout-button {
        display: none; 
    }
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .menu-button {
    color: white;
    margin: 0;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center; 
    padding: 10px;
    margin: 0;
  }
  
  .sidebar-item .MuiSvgIcon-root {
    margin-right: 10px; 
    font-size: 20px; 
  }
  

  .sidebar-fixed.collapsed .sidebar-item {
    justify-content: center; 
  }
  
  .sidebar-fixed.collapsed .sidebar-item .MuiSvgIcon-root {
    font-size: 25px; 
  }
  
  .logout-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: auto;
  }
  