.table-container {
  width: 80%;
  max-width: 100%;
  margin-top: 1rem;
  overflow-x: auto;
  box-sizing: border-box;
  font-size: 1.4rem;
}

.table-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.table-actions {
  position: relative;
  margin-bottom: 1rem;
}

.table-actions button {
  font-weight: 400;
  padding: 0.6rem 1rem;
  background-color: var(--secondary);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 2rem;
  color: var(--background-secondary);
}

.table-actions button:hover {
  opacity: 0.9;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

th,
td {
  padding: 10px;
  text-align: left;
  font-size: 1.2rem;
  word-wrap: break-word;
}

th {
  background-color: #e7f7e4;
  border-bottom: 1px solid #ddd;
}

td {
  border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    padding: 10px 5px;
    font-size: 0.85rem;
  }
}

@media (max-width: 460px) {
  section {
    padding: 0 !important;
  }
}

.error-message {
  color: red;
  font-size: 1.2rem;
}

button {
  font-size: 1.2rem;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
}

button:hover {
  opacity: 0.9;
}

.icon {
  margin-right: 0.5rem;
}