.dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  .sidebar h2 {
    font-size: 1.5rem;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .logout-button {
    margin-top: 20px;
    padding: 10px;
    /* background-color: #e74c3c; */
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* .logout-button:hover {
    background-color: #c0392b;
  } */
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  .welcome {
    margin-top: 20px;
  }
  
  .icons {
    position: absolute;
    top: 8px; 
    right: 12px; 
    display: flex;
    align-items: center;
    gap: 16px; 
  }
  
  @media (max-width: 768px) {
    .icons {
      top: 4px;
      right: 8px;
      gap: 8px;
    }
  }
  .transparency-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
  }
  
  .transparency-box {
    background-color: var(--secondary);
    border: 2px solid var(--secondary); /* Borda com a cor var(--secondary) */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    max-width: 400px; /* Largura máxima da caixa */
    margin: 0 auto; /* Centraliza a caixa horizontalmente */
  }
  
  .counter-item {
    font-size: 20px; /* Fonte grande */
    font-weight: bold;
    color: white; /* Cor da fonte var(--secondary) */
    margin-bottom: 15px;
    text-align: center;
  }