.beneficiario {
    min-height: 90vh;
    padding-top: 2rem;
    display: flex;
}

.info_pessoal {
    position: relative;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 70px;
    padding: 5px;
    padding-left: 7px;
    left: 0;
    top: 0;
    height: 520px;
    width: 300px;
    background-color: lightgray;
    border-radius: 15px;
    flex:1;
}

.profile_photo {
    width: 200px;
    margin-left: 90px;
    border-radius: 100px;
}

.documentos {
    flex:2;
    background-color: lightgray;
    border-radius: 15px;
    margin-right: 50px;
    margin-left: 50px;
}

.documentos p{
    padding-left: 120px;
}

.document-box {
    margin: 3px;
}